body{
    font-family: Inter, sans-serif;

}

.navbar {
    background-color: #4ea6ff;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    opacity: 90%;
    margin-bottom: 200px;
}

.logo img {
    height: 60px; 
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.btn-login {
    color: #ffa2e8;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 20px;
}

.btn-signup {
    color: black;
    background-color: #ffdeac;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}


.navbar ul li a:hover, .btn-login:hover, .logo img:hover {
    background-color: rgba(255, 255, 255, 0.096);
    cursor: pointer;
    border-radius: 5px;
}

.btn-signup:hover{
    background-color: #ffa2e8;
    color: #ffdeac;
}

.btn-login:hover{
    background-color: #ffa2e8;
    color: #ffdeac;
}

footer {
    background-color: #ffa2e8;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-bottom: -10px;
}

footer p{
    color: #ffdeac;
    font-weight: bold;
}
footer p a{
    color: #ffdeac;
    font-weight: bold;
}
/*--------------------------------------------------------------------------------------------------------------*/

/* Style du bouton */
.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Style de la modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contenu de la modale */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Bouton de fermeture */
.close {
    color: red;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/*--------------------------------------------------------------------------------------------------------------*/