{% extends 'layout.twig.html' %}

{% block title %}Entreprises - Stagagogo{% endblock %}

{% block content %}
<h1 class="title">ENTREPRISES QUI RECRUTENT</h1>
<input type="text" id="searchInputCompanies" placeholder="Rechercher une entreprise..." onkeyup="genericFilter('searchInputCompanies', '.card', [], 'noResultCompanies')" class="search-bar">
<p id="noResultCompanies" style="display:none;">Aucune entreprise correspondante.</p>

<div class="container">
    {% for company in companies %}
    <div class="card">
        <img src="img/logo_bleu.png" alt="Logo de {{ company.name_company }}">
        <h3>{{ company.name_company }}</h3>
        <p>{{ company.description_company }}</p>
        <button class="btn-card" onclick="openModal('modal-{{ company.id_company }}')">Voir plus</button>
    </div>
    {% endfor %}
</div>

{% for company in companies %}
<div class="company-container" id="modal-{{ company.id_company }}"> 
    <div class="company-card">
        <span class="close" onclick="closeModal('modal-{{ company.id_company }}')">&times;</span>
        <div class="company-header">
            <h2>{{ company.name_company }}</h2>
        </div>
        <div class="company-body">
            <p><strong>Description :</strong> {{ company.description_company }}</p>
            <p><strong>Ville :</strong> {{ company.city_company }}</p>
            <p><strong>Secteur :</strong> {{ company.sector_company }}</p>
            <p><strong>Email :</strong> <a href="mailto:{{ company.mail_company }}">{{ company.mail_company }}</a></p>
            <p><strong>Téléphone :</strong> <a href="tel:{{ company.phone_company }}">{{ company.phone_company }}</a></p>
            <p><strong>SIRET :</strong> {{ company.siret_company }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}


