<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Stagagogo</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js" defer></script>
</head>
<header>
    <nav class="navbar">

        <div class="logo">
            <a href="#"><img src="img/logo.png" alt="Logo Stagagogo"></a>
        </div>
        <ul>
            <li><a href="/?uri=/">Accueil</a></li>
            <li><a href="/?uri=Offer">Offres</a></li>
            <li><a href="/?uri=Companies">Entreprises</a></li>
            <li><a href="/?uri=Profil">Profil</a></li>
            <li><a href="/?uri=Wishlist">Wish-list</a></li>
        </ul>
        <div class="auth-buttons">
            <button class="btn-login" onclick='openModalLogin()'>Se connecter</button>
            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModalLogin()">&times;</span>
                    <h2>Connexion</h2>
                    <form method="POST" action="/" onsubmit="submitForm(event)">
                        <input type="hidden" name="action" value="login">
                        <input type="email" id="login-mail" name="mail" placeholder="Email" required>
                        <input type="pwd" id="login-pwd" name ="pwd" placeholder="Mot de passe" required>
                        <button type="submit" class="submit-btn">Connexion</button>
                    </form>
                </div>
            </div>
            <button class="btn-signup" onclick='openModalSignup()'>S'inscrire</button>
            <div id="signupModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModalSignup()">&times;</span>
            
                    <!-- Étape 1 -->
                    <div id="signup-step1">
                        <h2>Inscription - Étape 1</h2>
                        <form id="form-step1" onsubmit="submitForm(event)">
                            <input type="text" id="firstname" name="firstname" placeholder="Nom" required>
                            <input type="text" id="name" name="name" placeholder="Prénom" required>
                            <input type="email" id="signin-mail" name="mail" placeholder="Email" required>
                            <input type="password" id="signin-pwd" name="pwd" placeholder="Mot de passe" required>
                            <button type="button" class="submit-btn" onclick="goToStep2()">Suivant</button>
                        </form>
                    </div>
            
                    <!-- Étape 2 -->
                    <div id="signup-step2" style="display: none;">
                        <h2>Inscription - Étape 2</h2>
                        <form id="form-step2" method="POST" action="/">
                            <button type="button"  onclick="goToStep1()">Retour</button>
                            <input type="hidden" name="action" value="signup">
                            <input type="hidden" id="hidden-firstname" name="firstname">
                            <input type="hidden" id="hidden-name" name="name">
                            <input type="hidden" id="hidden-mail" name="mail">
                            <input type="hidden" id="hidden-pwd" name="pwd">
                            <input type="text" id="phone" name="phone" placeholder="Téléphone" required>
                            <input type="text" id="country" name="country" placeholder="Pays" required>
                            <input type="text" id="street" name="street" placeholder="Rue" required>
                            <input type="number" id="num" name="num" placeholder="Numéro de rue" required>
                            <input type="text" id="postal" name="postal" placeholder="Code postal" required>
                            <input type="text" id="city" name="city" placeholder="Ville" required>
                            <button type="submit" class="submit-btn">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <p>©2025 - Tous droits réservés - <a href="mentions_legales.html">Stagagogo</a></p>
</footer>

</html>